.organic-container{
    position: relative;
}

.organic-container .cover{
    width: auto;
    max-width: 100%;
    z-index: -1;
    height: 740px;
}

.organic-container .organic-info{
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.organic-info :where(img,h2,h1){
    margin-bottom: 1.25rem;
}

.organic-info :nth-child(2){
    font:1.5625rem normal;
}

.organic-info h1{
    color: var(--main-color);
    font:60px bold;
}

.organic-info :nth-child(4){
    font-size: 2rem;
    font-family: var(--font-additional-family);
}

.organic-info :last-child{
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 1.25rem;
    background-color: var(--main-color);
    color: white;
    transition: 0.5s;
}

.organic-info :last-child:hover{
    background-color: tomato;
}


@media screen  and (max-width:576px){
    .organic-container .organic-info{
        width: auto;
        max-width: 100%;
    }
    .organic-info :where(h2,h1){
        font-size: 1rem !important;
    }
    .organic-info{
        background-color: rgba(255,255,255,0.5);
        padding: 30px;
        width: 80% !important;
        left: 50% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .organic-info h1{
        font-size: 1.375rem !important;
        font-weight: bold;
    }
}

