.Grocery-container{
    position: relative;
}

.Grocery-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Grocery-info :where(p){
    font-size: 25px;
    font-family: 'Playfair Display',serif;
    margin: 0 0 15px;
}
.Grocery-info :nth-child(3){
    font-size: 32px !important;
    font-weight: 500;
}

.Grocery-info :nth-child(2){
    font-size: 48px;
    font-weight: bold;
    font-family: 'lemonada',cursive;
    color: #d08126;
    margin: 0 0 15px;
}

.Grocery-info button{
    padding: 12px 30px;
    border: none;
    outline: none;
    background-color: #d08126;
    color: white;
    border-radius: 20px;
    text-transform: capitalize;
    transition: 0.5s;
}

.Grocery-info button:hover{
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .Grocery-info :where(p){
        font-size: 20px !important;
    }
    .Grocery-info{
        background-color: rgba(255,255,255,0.5);
        width: 90%;
        padding: 20px 30px;
    }
    .Grocery-info h1{
        font-size: 30px !important;
    }
}