.client-component{
    margin-top: 150px;
    background-image: url('https://groca.myshopify.com/cdn/shop/files/bg-2.jpg?v=1614918252');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 625px;
}

.client-component .clients-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    max-height: 100%;
    max-width: 100%;
}

.swiper-slider{
    width: 70%;
    max-width: 100%;
    position: relative;
    background-color: #FFF;
    z-index: 1001;
    border-radius: 20px;
}
.swiper-slider::before{
    content: "";
    position: absolute;
    width: 95%;
    height: 120%;
    background-color: #FFF;
    margin: -20px 2.5%;
    border-radius: 20px;
}

.swiper-slider .swiperSlide-client .client-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 30px;
}

.swiper-slider .swiperSlide-client .swiper-cover{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.swiperSlide-client .client-info .info-right h6{
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}


.swiperSlide-client .client-info .info-right p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.swiperSlide-client .desc{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 10px 100px;
}

