.loading{
    width: 1200px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading .loading-content{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    border-right-color: transparent;
    animation: load 1.2s linear infinite;
}

@keyframes load {
    0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}